# Entorno virtual de Python
venv/
.venv/

# Variables sensibles
.env

# Logs de ejecución
logs/

# Caché de Python
__pycache__/
*.pyc

# PyInstaller
dist/
build/
*.spec

# Archivos de sistema
.DS_Store
Thumbs.db
